<div>
  <header></header>

  <div style="width:70%; margin: auto 15% auto 15%">
    <entity
      *ngFor="let char of data"
      [entity]=char
      (click)="selectChar(char)">
    </entity>
  </div>
</div>

<app-modal-dialog
  *ngIf="selected"
  [title]="'Character Details'"
  class="modaldialog">
    <div class="card card-container">
      <p>{{currentChar.name}}</p>
      <p>{{currentChar.surname}}</p>
      <p>{{currentChar.email}}</p>
    </div>
    <button class="btn btn-primary" style="width:20%; margin:auto 40% auto 40%;" (click)="closeDetails()">OK!</button>
    <!-- <details [entity]=currentChar></details> -->
</app-modal-dialog>
