<header></header>

<div class="card" style="width:80%; margin-right:10% 10% auto 10%;">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <br>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <br>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <br>
    </tbody>
  </table>
  <div style="width:20%; margin:0 40% 0 40%;" class="btn-group" role="group" aria-label="Options">
    <button class="btn btn-primary" (click)="runAlert(1)">Option1</button>
    <button class="btn btn-primary" (click)="runAlert(2)">Option2</button>
    <button class="btn btn-primary" (click)="runAlert(3)">Option3</button>
  </div>
</div>
