<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <div class="input-group">
              <input #username id="inputEmail" class="form-control" placeholder="Email address" required autofocus aria-describedby="addon-gmail">
              <span class="input-group-addon" id="addon-gmail">@gmail.com</span>
            </div>
            <br>
            <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="doLogin()">Sign in</button>
        </form>
        <a class="forgot-password">
            Forgot the password?
        </a>
    </div>
</div>
